In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('emails.csv')

In [3]:
df.head(10)

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0
5,Email 6,4,5,1,4,2,3,45,1,0,...,0,0,0,0,0,0,0,0,0,1
6,Email 7,5,3,1,3,2,1,37,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Email 8,0,2,2,3,1,2,21,6,0,...,0,0,0,0,0,0,0,1,0,1
8,Email 9,2,2,3,0,0,1,18,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Email 10,4,4,35,0,1,0,49,1,16,...,0,0,0,0,0,0,0,0,0,0

# SVM

In [4]:
x=df.iloc[:,1:-1].values
y=df.iloc[:,-1].values
print("X-shape:\n",x.shape)
print("y-shape:\n",y.shape)

X-shape:
 (5172, 3000)
y-shape:
 (5172,)

In [5]:
print("x-dtype",x.dtype)
print("y-dtype",y.dtype)

x-dtype int64
y-dtype int64

In [6]:
from sklearn.model_selection import train_test_split
from sklearn import svm

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [8]:
model=svm.SVC(kernel='linear')
model.fit(x_train,y_train)

SVC(kernel='linear')

In [9]:
preds=model.predict(x_test)

In [10]:
from sklearn.metrics import accuracy_score

In [11]:
print("Accuracy score:",accuracy_score(y_test,preds))

Accuracy score: 0.9468599033816425

In [12]:
from sklearn.metrics import confusion_matrix
res=confusion_matrix(y_test,preds)
print(res)

[[693  34]
 [ 21 287]]

# KNN

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix,accuracy_score

In [14]:
df1=pd.read_csv('emails.csv')

In [15]:
df.head(3)

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
X1=df1.iloc[:,1:-1]
Y1=df1.iloc[:,-1]

In [17]:
print("x1-shape",X1.shape)
print("Y1-shape",Y1.shape)

x1-shape (5172, 3000)
Y1-shape (5172,)

In [18]:
X_train,X_test,Y_train,Y_test=train_test_split(X1,Y1,test_size=0.2)

In [19]:
sc=StandardScaler()

In [20]:
X_train=sc.fit_transform(X_train)

In [21]:
X_test=sc.fit_transform(X_test)

In [29]:
Classifier=KNeighborsClassifier(n_neighbors=3,metric='minkowski',p=2)

In [30]:
Classifier.fit(X_train,Y_train)

KNeighborsClassifier(n_neighbors=3)

In [31]:
Y_Pred=Classifier.predict(X_test)

In [32]:
print(Y_Pred.shape)
print(Y_test.shape)

(1035,)
(1035,)

In [33]:
cm=confusion_matrix(Y_test,Y_Pred)
print(cm)

[[596 125]
 [ 29 285]]

In [34]:
ac=accuracy_score(y_test,Y_Pred)
print(ac)

0.5458937198067633

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the dataset
dataset = pd.read_csv('Social_Network_Ads.csv')
X = dataset.iloc[:, [2, 3]].values
y = dataset.iloc[:, -1].values

# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# Training the K-NN model on the Training set
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
ac = accuracy_score(y_test, y_pred)